구조화된 데이터 처리하기 용이한 것 = pandas (엑셀로 하는게 편하지만)

pandas 는 numpy의 refer 라서 그대로 사용해서 numpy 기능 사용 가능 전처리 때도 가능

In [0]:
import pandas as pd
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data' #Data URL
# data_url = './housing.data' #Data URL
df_data = pd.read_csv(data_url, sep='\s+', header = None) # \s+ 빈칸으로 나눠서 다 가져와라
## data csv (, 형태)

In [3]:
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
df_data.columns = [
    'CRIM','ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO' ,'B', 'LSTAT', 'MEDV'] 
# Column Header 이름 지정
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [5]:
type(df_data.values)
# 값의 형태는 numpy로 찍힌다.

numpy.ndarray

In [0]:
## Series DataFrame 로 나눌수 있고 두가지 object로 나뉘어져 있다.
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [8]:
list_data = [1,2,3,4,5]
list_name = ["a","b","c","d","e"]
example = Series(data= list_data, index = list_name) # shift + tab  3번 누르면 설명박힘 꿀팁
example

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
dict_data = {"a" :1 ,"b":2 , "c":3 , "d" : 4, "e":5}
example = Series(dict_data, dtype= np.float32 , name="example_data")
example

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [13]:
print(example["a"]) # data index 접근하기 
example["a"] = 3.2 # data index에 값 할당하기 
print(example)
print(example.values)
print(example.index)
example.name="go"
example.index.name = "eng"
example

3.2
eng
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: go, dtype: float32
[3.2 2.  3.  4.  5. ]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='eng')

eng
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: go, dtype: float32

In [14]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [15]:

DataFrame(raw_data, columns = ["age", "city"])

   age           city
0   42  San Francisco
1   52      Baltimore
2   36          Miami
3   24        Douglas
4   73         Boston

In [16]:
DataFrame(raw_data, 
          columns = ["first_name","last_name","age", "city", "debt"]
         )

  first_name last_name  age           city debt
0      Jason    Miller   42  San Francisco  NaN
1      Molly  Jacobson   52      Baltimore  NaN
2       Tina       Ali   36          Miami  NaN
3       Jake    Milner   24        Douglas  NaN
4        Amy     Cooze   73         Boston  NaN

In [17]:
# 2가지 방식으로
df = DataFrame(raw_data, columns = ["first_name","last_name","age", "city", "debt"])
df.first_name
df["first_name"]

0    Jason
1    Molly
2     Tina
3     Jake
4      Amy
Name: first_name, dtype: object

In [18]:
# location 방법 
df.loc[1] # 데이터 접근하는 방법  ## row 의 번호

first_name        Molly
last_name      Jacobson
age                  52
city          Baltimore
debt                NaN
Name: 1, dtype: object

In [19]:
# index 이름이 아니라 위치로  # series 데이터에서 가져오기 [1:]
df["age"].iloc[1:]

1    52
2    36
3    24
4    73
Name: age, dtype: int64

In [20]:
s = pd.Series(np.nan, index=[49,48,47,46,45, 1, 2, 3, 4, 5])
s

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [22]:
print(s.loc[:3]) # index 이름이 3인 것 까지 찍어라 
s.iloc[:3] ## index  3번째까지

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

49   NaN
48   NaN
47   NaN
dtype: float64

In [25]:
# 자주 활용한다!  조건문을 활용해서 새로운 feature = 변수를 만들 때
df.debt =df.age > 40
df

  first_name last_name  age           city   debt
0      Jason    Miller   42  San Francisco   True
1      Molly  Jacobson   52      Baltimore   True
2       Tina       Ali   36          Miami  False
3       Jake    Milner   24        Douglas  False
4        Amy     Cooze   73         Boston   True

In [26]:
values = Series(data=["M","F","F"],index=[0,1,3])
values

0    M
1    F
3    F
dtype: object

In [30]:
df["sex"] = values
df
print(df.T)
df.values

                        0          1      2        3       4
first_name          Jason      Molly   Tina     Jake     Amy
last_name          Miller   Jacobson    Ali   Milner   Cooze
age                    42         52     36       24      73
city        San Francisco  Baltimore  Miami  Douglas  Boston
debt                 True       True  False    False    True
sex                     M          F    NaN        F     NaN

array([['Jason', 'Miller', 42, 'San Francisco', True, 'M'],
       ['Molly', 'Jacobson', 52, 'Baltimore', True, 'F'],
       ['Tina', 'Ali', 36, 'Miami', False, nan],
       ['Jake', 'Milner', 24, 'Douglas', False, 'F'],
       ['Amy', 'Cooze', 73, 'Boston', True, nan]], dtype=object)

In [0]:
del df["deft"]
df

In [32]:

!pip install --y xlrd

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: --y

In [0]:
## inplace = true  데이터 프레임 변형 시킴(원본 수정) 
## inplace = false 카피한 버전을 삭제

In [37]:
s1 = Series(range(1,6),index = list("abcde"))
s1
s2 = Series(range(6,11), index= list("bcdef"))
s2

b     6
c     7
d     8
e     9
f    10
dtype: int64

In [35]:
s1.add(s2) # index 이름으로 더하기 해준다

a     NaN
b     8.0
c    10.0
d    12.0
e    14.0
f     NaN
dtype: float64

In [36]:
s1+s2

a     NaN
b     8.0
c    10.0
d    12.0
e    14.0
f     NaN
dtype: float64

In [40]:
df1 = DataFrame(np.arange(9).reshape(3,3), columns = list("abc"))
df2 = DataFrame(np.arange(16).reshape(4,4), columns = list("abcd"))
print(df1)
print(df2)
print(df1+df2)

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8
    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
      a     b     c   d
0   0.0   2.0   4.0 NaN
1   7.0   9.0  11.0 NaN
2  14.0  16.0  18.0 NaN
3   NaN   NaN   NaN NaN

In [39]:
df1.add(df2, fill_value=0)

      a     b     c     d
0   0.0   2.0   4.0   3.0
1   7.0   9.0  11.0   7.0
2  14.0  16.0  18.0  11.0
3  12.0  13.0  14.0  15.0

In [43]:
## lambda
f = lambda x,y: x + y
f(1,4)

## map for series 
# function 대신 dict, sequence 형 자료등으로 대체 가능
s1 = Series(np.arange(10))
s1.head(5)

s1.map(lambda x: x**2).head(5)

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [47]:
print(s1.head())
z = {1: "a", 2:"b", 3:"c"}
s1.map(z).head(5)  ## dict type 으로 교체 없는 값은 nan dict type으로 변환
print(s1.map(z).head(5))
s2= Series(np.arange(10,20)) # 같은 위치 데이터를 s2로 전환
s1.map(s2).head(5)

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    NaN
1      a
2      b
3      c
4    NaN
dtype: object

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [0]:
## map, replace
## df.sex.unique()
## df["sex_code"] =  df.sex.map({"male":0, "female":1})
## df.head(5)
## df.sex.replace( {"male":0, "female":1} ).head() # 자체 변환은 안됨 
## df.sex.replace( ["male", "female"],  [0,1], inplace=True) # 자체 변환 가능

In [0]:
## apply 
## map 과 달리, Series 전체에 해당 함수를 적용 
## 입력값이 series 데이터로 입력 받아 handling 가능 

f = lambda x : x.max() - x.min()
# df_info.apply(f) -> 각 column 별로 결과값 반환 

def f(x) :
    return Series([x.min(), x.max()], index =["min", "max"] )

# df_info.apply(f)

In [0]:
## applymap  # 전체 맵에 적용가능 ### 
# series 단위가 아닌 element 단위로 함수를 적용함
# series 단위에 apply 를 적용시킬 때와 같은 효과
f = lambda x : -x
#df_info.applymap(f).head(5)

f = lambda x : -x
# df_info["earn"].apply(f).head(5) ## map이랑 동일한 효과 


## describe
## df.describe() ## 통계량 정보 알수 있음

## unique
## df.race.unique() -> category 형 데이터가 몇개인지 알고 싶을 때 


def f(x):
    return Series([x.min(), x.max(), x.mean()], 
                    index=["min", "max", "mean"])
# df_info.apply(f)

In [0]:
# dict tpye index 해주기

##           np.array(dict(enumerate(df["race"].unique() ) ) )